<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
	<title>Websocket Chat</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- CSS -->
	<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>
<body>
<div class="container" id="app" v-cloak>
	<div class="row">
		<div class="col-md-12">
			<h3>채팅방 리스트</h3>
		</div>
	</div>
	<div class="input-group">
		<div class="input-group-prepend">
			<label class="input-group-text">방제목</label>
		</div>
		<div class="input-group-append">
			<button class="btn btn-primary" type="button" @click="createRoom">채팅방 개설</button>
		</div>


		<input type="text" class="form-control" v-model="nick_name" v-on:keyup.enter="createNickname">
		<div class="input-group-append">
			<button class="btn btn-primary" type="button" @click="createNickname">닉네임 입력</button>
		</div>

	</div>
	<ul class="list-group">
		<li class="list-group-item list-group-item-action" v-for="item in chatrooms" v-bind:key="item.roomId"
			v-on:click="enterRoom(item.roomId)">
			{{item.roomName}}
		</li>
	</ul>
</div>
<!-- JavaScript -->
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script>
	let username = "";
	var vm = new Vue({ // instance
		el: '#app', // app이라는 ID를 가진 태그를 찾아서 인스턴스를 붙여준다
		data: {
			room_name: '', nick_name : '', chatrooms: [] //뷰의 반응성(Reactivity)이 반영된 데이터 속성
		},
		created() {
			this.findAllRoom();
		},
		methods: { // 화면의 동작과 이벤트 로직을 제어하는 메서드
			findAllRoom: function() {
				axios.get('/chat/rooms').then(response => {
					this.chatrooms = response.data;
				});
			},
			createNickname: function(){
				if("" == this.nick_name) {
					alert("nickname을 입력해주세요")
					return;
				} else {
					username = this.nick_name;
					localStorage.setItem('wschat.sender', this.nick_name)
				}
			},
			createRoom: function() {
				if ("" === username) {
					alert("로그아웃 되었습니다.");
					return;
				} else {
					var params = new URLSearchParams();
					params.append("name", username);
					axios.post('/chat/room', params)
						.then(response => {
							localStorage.setItem('wschat.roomName', username);
							alert(response.data.roomName + " 님 환영합니다. ")
							this.room_name = '';
							this.findAllRoom();
							localStorage.setItem('wschat.roomId', response.data.roomId);
							location.href = "/chat/room/enter/" + response.data.roomId;
						})
						.catch(response => {
							alert("채팅방 개설에 실패하였습니다.");
						});
				}
			},
			enterRoom: function(roomId) {
				if (localStorage.getItem('wschat.sender')== localStorage.getItem('wschat.roomName') || localStorage.getItem('wschat.sender') == "admin") {
					location.href = "/chat/room/enter/" + roomId;
				}
			}
		}

	});
</script>
</body>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>

</html>